.board {
	width: auto;
	height: auto;
	margin-top: .5px;
	padding: 5px;
	border-radius: 5px;
}

.board-overlay {
	position: absolute;
	z-index: 9;
	width: 360px;
	height: 720px;
}

.board-overlay.transparent {
	background-color: rgba(191, 191, 191, .6);
}

.board-overlay.blur {
	filter: blur(1px);
	--webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
}